<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="Main">
		<div class="slick-slider slick-default" id="slick-id{data.uid}">
			<f:if condition="{data.pi_flexform.randomSlide} == 'vhs'">
				<f:then>
					<v:render.uncache partial="Images" section="Random" />
				</f:then>

				<f:else>
					<f:render partial="Images" section="Main" arguments="{_all}" />
				</f:else>
			</f:if>
		</div>
		<f:render partial="AssetAll" section="JS-Responsive" arguments="{_all}" />
	</f:section>
</div>